p {
	padding-top: 50px;
	width: 450px;
	font-family: Trebuchet MS, sans-serif; 
}

.main_header {
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
	letter-spacing: 2px;
	border-bottom: 1px solid white;
	margin-right: 200px;
	margin-left: 200px;
	padding-bottom: 10px;
}

#banned {
	
}