* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(rgba(4,114,77,0.9),rgba(4,114,77,0.9)), url(pile_of_books.jpg);
	background-size: cover;
	background-position: center;
	height: 100em;
	color: #eae2b7;
}

.title {
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
	letter-spacing: 2px;
	border-bottom: 1px solid white;
	margin-right: 200px;
	margin-left: 200px;
	padding-bottom: 10px;
}

.menu {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.menu ul {
	list-style-type: none;
	margin-top: 2%;
	display: inline-flex;
}

.menu ul li {
	width: 240px;
	border: 1px solid transparent;
	height: 15px;
	line-height: 15px;
	float: left;
	font-size: 13px;
	font-family: Trebuchet MS, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu ul li a {
	display: block;
}

ul li.active {
	background-color: #d2ab99;
}

.menu ul li:hover {
	background: #eae2b7;
	color: black;
}

.menu ul li a:hover {
	background: #eae2b7;
	color: black;
}

.menu ul ul {
	list-style-type: none;
	display: none;
	padding-bottom: 10px;
}


.menu ul li a {
	text-decoration: none;
	color: #eae2b7;
}

.menu ul ul li a {
	text-decoration: none;
	color: #eae2b7
}

.menu ul li:hover > ul {
	display: block;
}

.container {
    position: relative;
	width: 225.88px;
	height: 347.29px;
	display: inline-block;
	list-style-type: none;
	
}

.img {
	display: block;
	width: 225.88px;
	height: 347.29px;
}

.spacing {
	padding-top: 270px;
}

.text {
	width: 210px;
	font-family: Arial, sans-serif;
	color: white;
	font-size: 12px;
	letter-spacing: 1.25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
				
.overlay {
	position: absolute;
    width: 225.88px;
	height: 347.29px;
	padding: 0;
	top:0;
	left:0;
    opacity: 0;
    background-color: black;
}
		
.container:hover .overlay {
 	opacity: 0.85;
}